<h1 *ngIf = "restaurant$"><p>{{ restaurant$.name }}'s Employees</p><a class="add-button" (click)="show()"><span><button><i class="material-icons">add</i></button></span></a></h1>
<ul [@listStagger] = 'employees$'>
  <li *ngFor = "let employee of employees$">
    <a routerLink = "/restaurant/{{ restaurant$.id }}/employee/{{ employee.id }}"><strong>{{ employee.firstName }} {{ employee.lastName}}</strong></a>
  <ul>
    <li><strong>Email : </strong>{{ employee.email }}</li>
    <li><strong>Role : </strong>{{ employee.role }}</li>
  </ul>
  </li>
</ul>

<div id="myModal" class="modal hidden">
    
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="hide()">&times;</span>
      <h1>Add Employee</h1>
    </div>
    <div class="modal-body">
      <form>
        <label><strong>Email: </strong></label>
        <input type="text" placeholder="email" [(ngModel)] = "created$.email" [ngModelOptions] = "{  standalone : true }"><br><br>
        <label><strong>First name: </strong></label>
        <input type="text" placeholder="first name" [(ngModel)] = "created$.firstName" [ngModelOptions] = "{  standalone : true }"><br><br>
        <label><strong>Last name: </strong></label>
        <input type="text" placeholder="last name" [(ngModel)] = "created$.lastName" [ngModelOptions] = "{  standalone : true }"><br><br>
        <label><strong>Role: </strong></label>
        <select class="role-select" name="roles">
          <option value="CHEF">CHEF</option>
          <option value="BARTENDER">BARTENDER</option>
          <option value="WAITER" selected>WAITER</option>
        </select><br>
        <label><strong>City: </strong></label>
        <input type="text" placeholder="city" [(ngModel)] = "address$.city" [ngModelOptions] = "{  standalone : true }"><br><br>
        <label><strong>PostalCode: </strong></label>
        <input type="text" placeholder="postalCode" [(ngModel)] = "address$.postalCode" [ngModelOptions] = "{  standalone : true }"><br><br>
        <label><strong>State: </strong></label>
        <input type="text" placeholder="state" [(ngModel)] = "address$.state" [ngModelOptions] = "{  standalone : true }"><br><br>
        <label><strong>Country: </strong></label>
        <input type="text" placeholder="country" [(ngModel)] = "address$.country" [ngModelOptions] = "{  standalone : true }"><br><br>
        </form>
    </div>
    <div class="modal-footer">
      <p>
      <a class="btn cancel-btn" (click)="hide()">cancel</a>
      <a class="btn" (click)="add()">submit</a></p>
    </div>
  </div>

</div>