<div class="change-password">
  <div class="change-password-screen">
      <div class="app-title">
          <h1>Change password</h1>
      </div>

      <div class="change-password-form">
          <div class="control-group">
          <input type="password" class="change-password-field" value="" placeholder="password"[(ngModel)] = "passwordChange.password" >
          <label class="register-field-icon fui-user" for="change-password-name"></label>
          </div>

          <div class="control-group">
          <input type="password" class="change-password-field" value="" placeholder="confirm password"  [(ngModel)] = "passwordChange.confirmationPassword">
          <label class="register-field-icon fui-lock" for="change-password-pass"></label>
          </div>

          <a class="btn btn-primary btn-large btn-block" (click)= "changePassword()">Accept</a>
      </div>
  </div>
</div>