.items{
    display: inline-block;
    width: 600px;
    margin-left:20px;
    height:500px;
    overflow-y: scroll;
    
}

.orders{
    display: inline-block;
    width:400px;
    overflow: scroll;
    height: 500px;
    

}


.add-button {
    
    display: flex;
    clear: right;
    margin-left:500px;
    margin-top:-40px;
    border-radius: 8px;
   
    button {
        margin:0;
    border:none;
    
    background:none;

    i {
        color:rgb(7, 176, 41);
        font-size: 40px;
    }
    }
}

.add-button:hover {
    background-color:rgb(7, 176, 41);
    button {
        i{
            color:#fff;
        }
    }
}

*:focus{
    outline:none;
}


ul {
    all:unset;
    
    li {
        margin-right:10px;
    }

    .li {
        max-width:100px;
        display: inline-block;
        padding: -10px;
    }
}



.seats {
    margin-top:30px;
    
}

.active {
    border:2px solid rgb(7, 176, 41);
}
.hidden{
    display: none;
}

.close {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top:-35px;  
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.search-bar {
    background-color:#f2f2f2;
    position: fixed;
    width: 39.8%;
    padding: 5px;
    form{
        
      input {
        
       width:95%;
    border:none;
    padding:5px 5px;
    border-radius:8px; 
    margin-bottom: 10px;
    }  
    }
    
}


.content{
    margin-top: 50px;
}

.back-button{
    background:none;
    border-radius:8px;
    background-color:rgb(7, 176, 41);
    display: flex;
    padding:8px;
    i{
        margin-top:3px;
        color: #fff;
        font-size: 17px;
    }
    border:none;
    .back-button-text{
        color:#fff;
        font-size:17px;
        margin-top:1px;
    }
}

