
<button class="back-button" (click)="goBack()"><i class="material-icons">arrow_back_ios</i><span class="back-button-text"> Back</span></button>
<div class="seats">
    <ul *ngIf="seats$">
      <li class="li"*ngFor="let seat of seats$ , let i = index" [ngClass]="{'active': seat.id===seatId}">
        <ul>
          <li (click)="chooseSeat(seat.id)">
            <p>Seat: {{ i+1 }}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<div class="wrapper">
  <div class="orders" >
    <p *ngIf="!seatId">
      Please choose a seat!
    </p>
    
    <ul *ngIf="orders$">
      <li>
        <ul>
      <li *ngFor="let order of orders$.customerOrderList  ">
        <ul>
          <li class="order-terminal">{{ order.orderItem.quantity }} x {{ order.orderItem.item.name }}</li><span (click)="deleteOrder(order.orderItem.id)" class="close">&times;</span>
        </ul>
      </li>
    </ul>
    </li>
    </ul>
  </div>
 
  <div class="items" *ngIf="seatId"> 
    <div class="search-bar">
      <form >
          <input type="text" placeholder="Search..." [(ngModel)]="searchString" [ngModelOptions] = "{  standalone : true }">
      </form>
    </div>
    <div class="content">
    <h1 [ngClass]="{'hidden': searchString!=''}">Foods</h1>
    <ul *ngIf = "activeMenu$">
      <li *ngFor = "let item of activeMenu$.items" [ngClass]="{'hidden': item.category==='DRINK' || !includeString(item) }">
        <ul>
          <li class="item-name"><strong>Name: </strong>{{ item.name }}</li>
          <li><strong>Unit price: </strong>{{ item.price }} HUF</li>
          <span class="add-button"(click)="takeNewOrder(item.id,1,'-')"><button><i class="material-icons">add</i></button></span>
        </ul>
      </li>
    </ul>
    <h1 [ngClass]="{'hidden': searchString!=''}">Drinks</h1>
    <ul *ngIf = "activeMenu$">
        <li *ngFor = "let item of activeMenu$.items" [ngClass]="{'hidden': item.category==='FOOD' || !includeString(item)}">
          <ul>
            <li><strong>Name: </strong>{{ item.name }}</li>
            <li><strong>Unit price: </strong>{{ item.price }} HUF</li>
            <span class="add-button"(click)="takeNewOrder(item.id,1,'-')"><button><i class="material-icons">add</i></button></span>
            
          </ul>
        </li>
      </ul>
      </div>
  </div>
</div>
