
<h1><p>Restaurants</p><a class="add-button"><span><button><i class="material-icons">add</i></button></span></a></h1>

<ul [@listStagger] = 'restaurants$'>
    <li *ngFor = "let restaurant of restaurants$"> 
    <a routerLink = "" class="button"><strong>{{ restaurant.name }}</strong></a>
    <!--<a><span id = "edit-icon-span"><i id = "edit-icon" class="material-icons">edit</i></span></a>-->
    <ul>
      <li><strong>Street : </strong>  {{ restaurant.address.street }}</li>
      <li><strong>City : </strong>  {{ restaurant.address.city }}</li>
      <li><strong>PostalCode : </strong>  {{ restaurant.address.postalCode }}</li>
      <li><strong>State :</strong>  {{ restaurant.address.state }}</li>
      <li><strong>Country :</strong>  {{ restaurant.address.country }}</li>
    </ul>
    <ul>
      <li><strong>Email : </strong> {{ restaurant.email }}</li>
      <li><strong>Phone : </strong>{{ restaurant.phone}}</li>
      <li class="submenu">
        <a routerLink="/restaurant/{{ restaurant.id }}/employee"><button class="submenu-button">EMPLOYEES</button></a>
        
        <a routerLink="/restaurant/{{ restaurant.id }}/table"> <button class="submenu-button">TABLES</button></a>
                
        <a routerLink=""> <button class="submenu-button">ORDERS</button></a>
      </li>
    </ul>
  </li>
</ul>
