


#edit-icon { 
   margin-left:530px;
   color: grey;
   float: right;
   font-size: 40px;
   
}

#edit-icon-span {
    padding: 0px;
    margin: 0px;
    margin-top: -30px;
    float: right;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
  }
  
#edit-icon-span :hover{
    opacity: 1;
    color:#343333;
}


.add-button {
    
    float: right;
    margin-top:-82px;
    background-color: #fff;
    border-radius:8px;
    
    
  
    button {
        padding:12px;
        border:none; 
        background:none;
        border-radius:8px;
        
        
        i {
            color:rgb(7, 176, 41);
            font-size: 33px;
        }
    }
    
}
.add-button :hover {
        background-color:rgb(189, 193, 190);
        border-radius:8px;
    }
