


#edit-icon { 
   margin-left:530px;
   color: grey;
   float: right;
   font-size: 40px;
   
}

#edit-icon-span {
    padding: 0px;
    margin: 0px;
    margin-top: -30px;
    float: right;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
  }
  
#edit-icon-span :hover{
    opacity: 1;
    color:#343333;
}


.submenu {
    display:inline-block;

    .submenu-button{
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        margin-right:10px;
        border:none;
        background-color:rgb(12, 208, 51);
        text-align: center;
        color: white;
        font-weight:bolder;
        border-radius: 10px;
    }
    .submenu-button:hover{
        background-color:rgb(7, 176, 41); 
    }
}

