


#edit-icon { 
   margin-left:530px;
   color: grey;
   float: right;
   font-size: 40px;
   
}

#edit-icon-span {
    padding: 0px;
    margin: 0px;
    margin-top: -30px;
    float: right;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
  }
  
#edit-icon-span :hover{
    opacity: 1;
    color:#343333;
}

