
<h1><p>Restaurants</p><a class="add-button" (click)="show()"><span><button><i class="material-icons">add</i></button></span></a></h1>

<ul [@listStagger] = 'restaurants$'>
    <li *ngFor = "let restaurant of restaurants$"> 
    <a routerLink = "" class="button"><strong>{{ restaurant.name }}</strong></a>
    <ul>
      <li><strong>Street : </strong>  {{ restaurant.address.street }}</li>
      <li><strong>City : </strong>  {{ restaurant.address.city }}</li>
      <li><strong>PostalCode : </strong>  {{ restaurant.address.postalCode }}</li>
      <li><strong>State :</strong>  {{ restaurant.address.state }}</li>
      <li><strong>Country :</strong>  {{ restaurant.address.country }}</li>
    </ul>
    <ul>
      <li><strong>Email : </strong> {{ restaurant.email }}</li>
      <li><strong>Phone : </strong>{{ restaurant.phone}}</li>
      <li class="submenu">
        <a routerLink="/restaurant/{{ restaurant.id }}/employee"><button class="submenu-button">EMPLOYEES</button></a>
        
        <a routerLink="/restaurant/{{ restaurant.id }}/table"> <button class="submenu-button">TABLES</button></a>        
      </li>
    </ul>
  </li>
</ul>

<div id="myModal" class="modal hidden">
    
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" (click)="hide()">&times;</span>
          <h1>Add Restaurant</h1>
        </div>
        <div class="modal-body">
          <form>
            <label><strong>Name: </strong></label>
            <input type="text" placeholder="name" [(ngModel)] = "created$.name" [ngModelOptions] = "{  standalone : true }" required><br><br>
            <label><strong>Street: </strong></label>
            <input type="text" placeholder="street" [(ngModel)] = "address$.street" [ngModelOptions] = "{  standalone : true }"><br><br>
            <label><strong>City: </strong></label>
            <input type="text" placeholder="city" [(ngModel)] = "address$.city" [ngModelOptions] = "{  standalone : true }"><br><br>
            <label><strong>PostalCode: </strong></label>
            <input type="text" placeholder="postalCode" [(ngModel)] = "address$.postalCode" [ngModelOptions] = "{  standalone : true }"><br><br>
            <label><strong>State: </strong></label>
            <input type="text" placeholder="state" [(ngModel)] = "address$.state" [ngModelOptions] = "{  standalone : true }"><br><br>
            <label><strong>Country: </strong></label>
            <input type="text" placeholder="country" [(ngModel)] = "address$.country" [ngModelOptions] = "{  standalone : true }"><br><br>
            <label><strong>Email: </strong></label>
            <input type="email" placeholder="email" [(ngModel)] = "created$.email" [ngModelOptions] = "{  standalone : true }"><br><br>
            <label><strong>Phone: </strong></label>
            <input type="text" placeholder="phone" [(ngModel)] = "created$.phone" [ngModelOptions] = "{  standalone : true }"><br><br>
          </form>
        </div>
        <div class="modal-footer">
          <p>
          <a class="btn cancel-btn" (click)="hide()">cancel</a>
          <a class="btn" (click)="add()">submit</a></p>
        </div>
      </div>
    
    </div>
