<h1>Kitchen</h1>


<ul [@listStagger]="items$">
  <li *ngFor="let index of items$">
    <div class="timer"> 
        {{ index.timer[0] }}:{{ index.timer[1] }}
      </div>
      <span class="food-made-span"><button (click)="made(index)"><i class="material-icons">done</i></button></span>
      
    <ul>
      
      <li><p>{{ index.orderedItem.item.name }}</p></li>
      <li *ngIf="index.orderedItem.comment"><strong>Comment: </strong>{{ index.orderedItem.comment }}</li>
      <li *ngIf="!index.orderedItem.comment"><strong>Comment: </strong> - </li>
    </ul>
  </li>
</ul>
