<h1>Kitchen</h1>


<ul [@listStagger]="items$">
  <li *ngFor="let food of items$">
    <div class="timer"> 
       {{ food.timer[0] }}:{{ food.timer[1] }}
      </div>
      <span class="food-made-span"><button (click)="made(food)"><i class="material-icons">done</i></button></span>
    <ul>
      <li><p>{{ food.orderedItem.item.name }}</p></li>
      <li *ngIf="food.orderedItem.comment"><strong>Comment: </strong>{{ food.orderedItem.comment }}</li>
      <li *ngIf="!food.orderedItem.comment"><strong>Comment: </strong> - </li>
    </ul>
  </li>
</ul>
