nav {
    position: fixed;
    background: rgb(189, 189, 189);
    height: 100%;
    width: 200px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .menu-button{

        
            height:64px;

            a .menu-button-text {
                padding: 0px;
                margin: 0px;
                margin-top: 3px;
                margin-left: 10px;
                float: left;
                font-family: 'Roboto', sans-serif;
            }

            a {
                text-decoration: none;
                width :160px;
                color: #fff;
                padding: 20px;
                display: inline-block;
                
            }
            i {
                float: left;
            }

            .activated{
                background-color: rgb(7, 176, 41);
            
                
            }
        }

        .menu-button :hover{
            background-color: rgb(211, 211, 211);
            
        }
    } 

}
#logoutA :hover {
    background: red;

    i{
        color:white;
    }
}


.dropdown-btn {
    padding:20px;
    width:160px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(189, 189, 189);
    display: block;
    text-align: left;
    cursor: pointer;
    border: none;
    outline:none;
    color:white;
    
    .menu-button-text {
        padding: 0px;
        margin: 0px;
        margin-top:3px;
        font-size: 16px;
        margin-left: 10px;
        float: left;
        font-family: 'Roboto', sans-serif;
    }

    i{
        float: left;
    }
}

