<nav *ngIf="user">
  <ul *ngIf="loggedIn$">
    <li class = "menu-button">
      <a routerLink = "" [class.activated] = "currentUrl == '/'">
        <i class = "material-icons">bar_chart</i><span class = "menu-button-text">STATISTICS</span>
      </a>
    </li>
    <li class = "menu-button">
      <a routerLink = "profile" [class.activated] = "currentUrl == '/profile'">
        <i class = "material-icons">account_box</i><span class = "menu-button-text">PROFILE</span>
      </a>
    </li>
    <li class = "menu-button" *ngIf="loggedIn$.role === 'OWNER' || loggedIn$.role === 'MANAGER'">
        <a routerLink = "restaurant" [class.activated] = "currentUrl == '/restaurant'">
          <i class="material-icons">restaurant</i><span class = "menu-button-text">RESTAURANT</span>
        </a>
    </li>
    <li class = "menu-button" *ngIf="loggedIn$.role === 'OWNER'">
        <a routerLink = "order/restaurant" [class.activated] = "currentUrl == '/order/restaurant'">
          <i class="material-icons">assignment</i><span class = "menu-button-text">ORDERS</span>
        </a>
    </li>
    <li class = "menu-button" *ngIf="loggedIn$.role === 'WAITER'">
        <a routerLink = "my-orders" [class.activated] = "currentUrl == '/my-orders'">
          <i class="material-icons">assignment</i><span class = "menu-button-text"> MY ORDERS</span>
        </a>
    </li>
    <li class = "menu-button" *ngIf="loggedIn$.role === 'MANAGER'">
      <a [routerLink] = "['restaurant',loggedIn$.restaurantId,'employee']" [class.activated] = "currentUrl == '/restaurant/:restaurantId/employee'">
        <i class="material-icons">people</i><span class = "menu-button-text">EMPLOYEES</span>
      </a>
  </li>
  <li class = "menu-button" *ngIf="loggedIn$.role === 'MANAGER'">
    <a [routerLink] = "['restaurant',loggedIn$.restaurantId,'table']" [class.activated] = "currentUrl == '/restaurant/:restaurantId/table'">
      <i class="material-icons">ballot</i><span class = "menu-button-text">TABLES</span>
    </a>
  </li>
  <li class = "menu-button" *ngIf="loggedIn$.role === 'MANAGER'">
    <a [routerLink] = "['menu',loggedIn$.restaurantId]" [class.activated] = "currentUrl == '/menu/:restaurantId'">
      <i class="material-icons">restaurant_menu</i><span class = "menu-button-text">MENUS</span>
    </a>
  </li>

    <li class = "menu-button" *ngIf="loggedIn$.role === 'BARTENDER'">
        <a routerLink = "bar" [class.activated] = "currentUrl == '/bar'">
          <i class="material-icons">local_bar</i><span class = "menu-button-text">BAR</span>
        </a>
    </li>
    <li class = "menu-button" *ngIf="loggedIn$.role === 'WAITER'">
      <a routerLink="/waiter/table" [class.activated] = "currentUrl == '/waiter/table'">
        <i class="material-icons">ballot</i><span class = "menu-button-text">TABLES</span>
      </a>
    </li>
    <li class = "menu-button" *ngIf="loggedIn$.role === 'CHEF'">
        <a routerLink="kitchen" [class.activated] = "currentUrl == '/kitchen'">
          <i class="material-icons">ballot</i><span class = "menu-button-text">KITCHEN</span>
        </a>
    </li>
    <li id = "logoutA" class = "menu-button">
        <a (click)="logOut()">
          <i class="material-icons">keyboard_backspace</i><span class = "menu-button-text">LOG OUT</span></a>
    </li>
  </ul>
</nav>
