<h1 *ngIf="restaurant$">{{ restaurant$.name }}'s tables</h1>

<ul [@listStagger]='tables$'>
  <li *ngFor="let table of tables$">
    <ul *ngIf="tables$">
      <li> <strong>{{ table.name }}</strong></li>
    <!--<a><span id = "edit-icon-span"><i id = "edit-icon" class="material-icons">edit</i></span></a>--> 
    <li class="submenu">
        
        <a [routerLink]="['/restaurant',restaurant$.id,'table',table.id,'seat']">
          <button class="submenu-button">SEATS</button>
        </a>
      </li>
    </ul>
  </li>
</ul>