.submenu {
    display:inline-block;

    .submenu-button{
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        margin-right:10px;
        border:none;
        background-color:rgb(12, 208, 51);
        text-align: center;
        color: white;
        font-weight:bolder;
        border-radius: 10px;
    }
    .submenu-button:hover{
        background-color:rgb(7, 176, 41); 
    }
}