#price {
    margin-left: 55%;
    display: inline;
    p {
        display: inline;
    }
}

.borders {
    border-top: 3px solid grey;
}

.thick-border {
    border-top:15px solid rgb(12, 208, 51);
}

.logo {
    float: right;
    margin-top:-80px;
    img{
        height: 60px;
        width:60px;
    }
}

.about{
    font-size: 10px;
    .about-text{
       margin-top:-8px;
    } 
}

th {
    text-align: center;
}

td {
    max-width: 350px;
}
