
<h1>Profile</h1>
<ul>
  <li>
    <p  *ngIf = "user$"><strong>{{ user$.firstName }} </strong> <strong>{{ user$.lastName}}</strong></p>
    <ul>
        <li *ngIf = "user$"><strong>Street : </strong>  {{ user$.address.street }}</li>
        <li *ngIf = "user$"><strong>City : </strong>  {{ user$.address.city }}</li>
        <li *ngIf = "user$"><strong>PostalCode : </strong>  {{ user$.address.postalCode }}</li>
        <li *ngIf = "user$"><strong>State :</strong>  {{ user$.address.state }}</li>
        <li *ngIf = "user$"><strong>Country :</strong>  {{ user$.address.country }}</li>
      </ul>
      <ul>
        <li *ngIf = "user$"><strong>Email : </strong> {{ user$.email }}</li>
      </ul>
      <ul>
        <li *ngIf = "user$"><strong>Role :</strong> {{ user$.role }}</li>
      </ul>
  </li>
  
</ul>