<div class="forgot-password">
  <div class="forgot-password-screen">
      <div class="app-title">
          <h1>Change Password</h1>
      </div>

      <div class="forgot-password-form">
        <div class="control-group">
          <input type="text" class="email-field" value="" placeholder="email"[(ngModel)] = "userSend$.email" >
          <label class="register-field-icon fui-user" for="forgot-mail"></label>
          <a class="btn btn-primary btn-large btn-block" (click)= "sendEmail()">Send Email</a>
      </div>
    </div>
  </div>
</div>