.submenu {
    margin-left: 167.3px;
    i{
        float: left;
        padding-left: 42.5px;
        margin-right:-3px;
    }

    .submenu-button-text {
        font-size: 14px;
        padding-right:60px;
        margin: 0px;
        margin-top: 5px;
        margin-left: 10px;
        float: left;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;    
    }       
}